table {
  border-collapse: collapse;
  margin: 10px auto;
 
}

h2{
  margin-left: 150px;
  }

td {
  padding: 5px;
}

input, select {
  padding: 4px;
}

button {
  padding: 5px 10px;
  width: 200PX;
  background-color: blue;
  color:white
}

.my{
  background-color: rgb(228, 231, 231);
   margin-left: 450px;
   border-radius: 20px;
}
